extends ../layout 

block content
    div(style="dislay: flex; justify-content: space-between;")
     a(href='/articles') Go Back
     a(href=`/articles/${article._id}/update`) Update Article
     a(href=`/articles/${article._id}/delete`) Delete
    img(src=article.hero style='width: 100%; max=height: 400px; onbject-fit: cover;')
    h1= article.title
    h6= article.title
    h6= article.date
    h6 #{article.authors.join(', ')}

    p= article.content